spam.a{
display:inline;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;
}
spam.b {
display:inline-block;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;
}
spam.c{
display:block;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;
}
